<div class="btn-group pull-left space-right">
    <button class="btn dropdown-toggle" data-toggle="dropdown">On branch: <strong>{{ branch }}</strong> <span class="caret"></span></button>
    <ul class="dropdown-menu">
    <li class="dropdown-header">Branches</li>
    {% for item in branches %}
        <li><a href="{{ path('checkout', {repo: repo, branch: item}) }}" onclick="return confirm('Are you sure you want to switch branches? This will actually checkout the \'{{ item }}\' branch.');">{{ item }}</a></li>
    {% endfor %}
    {# removing tags for now
    {% if tags %}
    <li class="dropdown-header">Tags</li>
    {% for item in tags %}
        <li><a href="{{ path('branch', {repo: repo, branch: item}) }}">{{ item }}</a></li>
    {% endfor %}
    {% endif %}
     #}
    </ul>
</div>