{% extends 'layout_page.twig' %}

{% set page = 'push' %}

{% block title %}GitList{% endblock %}

{% block content %}
    {% include 'breadcrumb.twig' with {breadcrumbs: [{dir: 'Status', path:''}]} %}

    {% if push_status %}
    <h3>Files to be pushed to {{ remote }}/{{ branch }}</h3>
    <table class="tree">
        <thead>
        <tr>
            <th style="width: 60%">filename</th>
            <th style="width: 15%">additions</th>
            <th style="width: 15%">subtractions</th>
        </tr>
        </thead>
        {% for file in push_status %}
        <tr>
            <td>{{ file.filename }}</td>
            <td>{{ file.adds }}</td>
            <td>{{ file.subs }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No commits to push.</p>
    {% endif %}

    {% if message is defined and message %}
        <div class="alert alert-success">{{ message }}</div>
    {% endif %}

    <hr />
{% endblock %}
