{% extends 'layout_page.twig' %}

{% set page = 'status' %}

{% block title %}GitList{% endblock %}

{% block content %}
    {% include 'breadcrumb.twig' with {breadcrumbs: [{dir: 'Status', path:''}]} %}

    {% if message is defined and message %}
        <div class="alert alert-success">{{ message }}</div>
    {% endif %}
    
    {% if unstaged is not empty or staged is not empty %}

        {% if unstaged is not empty %}
        <form method="post">
        <h3>Unstaged files</h3>
        <table class="tree">
            <thead>
            <tr>
                <th width="5%">status</th>
                <th width="60%">filename</th>
                <th width="15%">modified</th>
                <th width="15%">action</th>
            </tr>
            </thead>
            
            {% for file in unstaged %}
            <tr>
                <td>{{ file.status }}</td>
                <td>
                    <i class="{{ file.type == "folder" or file.type == "symlink" ? "icon-folder-open" : "icon-file" }} icon-spaced"></i>
                    <a target="_blank" href="{{ path('blob', {repo: repo, commitishPath: branch ~ '/' ~ file.filename}) }}">{{ file.filename }}</a>
                </td>
                <td>{{ file.modification }}</td>
                <td>
                    <select class="input-small" name="action[{{ file.hash }}]" style="margin-bottom: 0">
                        <option>Nothing</option>
                        <option>Stage</option>
                    </select>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3"></td>
                <td><input type="submit" name="do" value="Stage Files" class="btn btn-success"></td>
            </tr>
            
        </table>
        </form>
        {% endif %}



        {% if staged is not empty %}
            <form method="post">
                <h3>Staged files ready for commit</h3>
                <table class="tree">
                    <thead>
                    <tr>
                        <th width="5%">status</th>
                        <th width="60%">filename</th>
                        <th width="15%">modified</th>
                        <th width="15%">action</th>
                    </tr>
                    </thead>
    
                    {% for file in staged %}
                        <tr>
                            <td>{{ file.status }}</td>
                            <td>
                                <i class="{{ file.type == "folder" or file.type == "symlink" ? "icon-folder-open" : "icon-file" }} icon-spaced"></i>
                                <a target="_blank" href="{{ path('blob', {repo: repo, commitishPath: branch ~ '/' ~ file.filename}) }}">{{ file.filename }}</a>
                            </td>
                            <td>{{ file.modification }}</td>
                            <td>
                                <select class="input-small" name="action[{{ file.hash }}]" style="margin-bottom: 0">
                                    <option>Nothing</option>
                                    <option>Unstage</option>
                                </select>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3"></td>
                        <td><input type="submit" name="do" value="Unstage Files" class="btn btn-success"></td>
                    </tr>
    
                </table>
            </form>

            <h3>Commit staged files</h3>
            <form method="post">
                <textarea name="comments" style="width: 100%; height: 100px;"></textarea>
                <div style="text-align: center;">
                    <input type="submit" name="do" value="Commit Files" class="btn btn-success" />
                </div>
            </form>

        {% endif %}

    {% elseif message is not defined or not message %}
        <div class="alert alert-danger">No files ready to stage or commit.</div>
    {% endif %}
    
    <hr />
{% endblock %}
